<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<!-- layout文件路径-->
<body>
<section layout:fragment="content">
    <!-- page start-->
    <div class="row" th:switch="${phoneNumber}==null ? 'true' : 'false'">
        <div class="col-sm-6">
            <section class="panel panel_plan">
                <div class="panel-body">
                    <div class="panel-account col-lg-12">
                        <h4>修改密码</h4>
                    </div>
                    <div class="form-group">
                        <label for="origin_pwd">原密码</label>
                        <input type="password" class="form-control" id="origin_pwd" placeholder="请输入原密码"/>
                    </div>
                    <div class="form-group">
                        <label for="new_pwd">新密码</label>
                        <input type="password" class="form-control" id="new_pwd" placeholder="请输入新密码"/>
                    </div>
                    <div class="form-group">
                        <label for="repeat_pwd">重复新密码</label>
                        <input type="password" class="form-control" id="repeat_pwd" placeholder="再一遍输入新密码"/>
                    </div>
                    <button type="button" id="submit_pwd" class="btn btn-white">提交</button>
                </div>
            </section>
        </div>


        <div id="panel_phone_fill" class="col-sm-6" th:case="'true'">
            <section class="panel panel_plan">
                <div class="panel-body">
                    <div class="panel-account col-lg-12">
                        <h4>手机号补充</h4>
                    </div>
                    <div class="form-group">
                        <label for="phone_number"></label>
                        <input type="password" class="form-control" id="phone_number" name="phone_number" placeholder="请输入手机号（长号）"/>
                    </div>
                    <button type="submit" class="btn btn-white">提交</button>
                </div>
            </section>
        </div>

        <div id="panel_phone_show" class="col-sm-6" th:case="'false'">
            <section class="panel panel_plan">
                <div class="panel-body">
                    <div class="panel-account col-lg-12">
                        <h4>手机号</h4>
                    </div>
                    <div class="form-group">
                        <label id="phone_number_label"><h3 th:text="${phoneNumber}"></h3></label>
                        <input id="phone_number_modify" type="text" class="form-control panel_close" name="phone_number" th:value="${phoneNumber}" placeholder="请输入手机号（长号）"/>
                    </div>
                    <button id="btn_phone_modify" type="button" class="btn btn-white">修改</button>
                    <button id="btn_phone_submit" type="button" class="btn btn-white panel_close">提交</button>
                    <button id="btn_phone_cancel" type="button" class="btn btn-white panel_close">取消</button>
                </div>
            </section>
        </div>

    </div>


    <!-- page end -->
    <script>
        $(document).ready(function() {
            $('#submit_pwd').on('click', function () {
                var origin_pwd = $('#origin_pwd').val();
                var new_pwd = $('#new_pwd').val();
                var repeat_pwd = $('#repeat_pwd').val();

                var message = '';
                if(origin_pwd == ''){
                    message = message + '原密码为空！' + "\n";
                } else if (new_pwd == ''){
                    message = message + '新密码为空！' + "\n";
                } else if (repeat_pwd == '') {
                    message = message + '重复密码为空！'+ "\n";
                } else if (new_pwd != repeat_pwd) {
                    message = message + '新密码与重复密码不一致！'+ "\n";
                }

                if(message == ''){
                    $.post("/updatePwd", {origin_pwd: origin_pwd,new_pwd: new_pwd,repeat_pwd: repeat_pwd},function (data){
                        var result = JSON.parse(data['result']);
                        alert(data['result']);
                        if(result===2){
                            alert('原密码不正确！');
                        }
                        if(result===200){
                            window.location.href="/index";
                        }
                    });
                } else {
                    alert(message);
                }
            });
        });

    </script>
</section>
</body>
</html>