<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szy.mapper.SystemMapper">

    <resultMap id="gradeMap" type="Grade">
        <id property="id" column="id" />
        <result property="grade" column="grade" />
    </resultMap>

    <resultMap id="speciesMap" type="Species">
        <id property="speciesId" column="species_id" />
        <result property="speciesName" column="species_name" />
        <result property="stuAmount" column="stu_amount" />
    </resultMap>

    <resultMap id="positionsMap" type="Positions">
        <id property="id" column="id" />
        <result property="description" column="description" />
    </resultMap>

    <insert id="insertGrade" parameterType="string">
        INSERT INTO tb_grade(grade) VALUES (#{grade})
    </insert>

    <select id="findGradesAll" resultMap="gradeMap">
        SELECT * FROM tb_grade
    </select>

    <delete id="deleteGrade" parameterType="int">
        DELETE FROM tb_grade WHERE id = #{id}
    </delete>

    <insert id="insertSpecies" parameterType="Species">
        INSERT INTO tb_species(species_id,species_name,stu_amount) VALUES (#{speciesId},#{speciesName},#{stuAmount})
    </insert>

    <select id="findSpeciesAll" resultMap="speciesMap">
        SELECT * FROM tb_species
    </select>

    <delete id="deleteSpecies" parameterType="int">
        DELETE FROM tb_species WHERE species_id = #{speciesId}
    </delete>

    <update id="updateSpecies" parameterType="Species">
        UPDATE tb_species
        SET species_name = #{speciesName} AND stu_amount = #{stuAmount}
        WHERE species_id = #{speciesId}
    </update>

    <insert id="insertPositions" parameterType="Positions">
        INSERT INTO tb_positions(id,position) VALUES (#{id},#{position})
    </insert>

    <select id="findPositionsAll" resultMap="positionsMap">
        SELECT * FROM tb_positions
    </select>

    <delete id="deletePositions" parameterType="int">
        DELETE FROM tb_positions WHERE id = #{id}
    </delete>

    <update id="updatePositions" parameterType="Positions">
        UPDATE tb_positions
        SET position = #{position}
        WHERE id = #{id}
    </update>

</mapper>